{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row my-5 justify-content-end">
        
    </div>
    <div class="row">
        <table class="table table-warning table-striped">
            <thead>
              <tr>
                <th scope="col">Ime</th>
                <th scope="col">Email</th>
                {% if ( rolaProvera == True) %}
                <th scope="col">Sifra</th>
                {% endif %}
                <th scope="col">Rola</th>
                <th scope="col">Ime psa</th>
                {% if ( rolaProvera == True) %}
                <th scope="col">Izmena</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for vlasnici in vlasnik %}
              <tr>
           <!--Nece da ucita iz baze vrv problem ovde -->
                <td>{{vlasnici.ime}}</td>
                <td>{{vlasnici.email}}</td>
                {% if ( rolaProvera == True) %}
                <td>{{vlasnici.lozinka}}</td>
                {% endif %}
                <td>{{vlasnici.rola}}</td>
                <td>{{vlasnici.ime_psa}}</td>
              {% if ( rolaProvera == True) %}
                <td>
                    <a href="{{ url_for('vlasnik_izmena', id=vlasnici.id) }}"><img class="visina" src="../static/images/edit.png"></a>
                    <a href="{{ url_for('brisanje', id=vlasnici.id) }}"><img class="visina" src="../static/images/delete.png"></a>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock %}